root = true

[*]
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
tab_width = 8

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.{py}]
indent_style = space
indent_size = 4

[*.{go}]
indent_style = tab
tab_width = 4

[*.{json,js,jsx,ts,tsx}]
indent_style = space
indent_size = 2

[*.{sh}]
end_of_line = lf
